name: chemical_inventory
description: A chemical inventory management app for labs
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  url_launcher: ^6.1.5
  webview_flutter: ^4.4.2
  mobile_scanner: ^7.1.4
  pretty_qr_code: ^3.6.0
  

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
